# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build output
dist/
dist-ssr/
build/

# local env files
*.local

# editor / IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store
Thumbs.db

# misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?